* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding-block: 20px;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
}

header>img {
    /* display: inline; */
    /* width: min-content; */
}

nav {
    background-color: antiquewhite;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    background-color: black;
}

.sb {
    display: flex;
    align-items: center;
}

.sq {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-inline: 50px;
}